# User files
.vscode
CMakeUserPresets.json
**/*.der
**/*.bin

# Build files
build*
reports*

# Rust build files
hmpc-rs/target*

# Runtime files
**/core
!**/core/*
**/*.tsv
**/*.log

# Other files
.git
